<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DELETAR LETRA</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/style.css">

 {% load static %}
</head>

<body class="fundoRegistro" background="/static/img/fundo3.jpg">


    <nav class="navbar navbar-expand-sm navbar navbar-dark bg-transparent
        shadow-lg p-3 mb-4 border border-dark rounde ">

        <a class="navbar-brand font-weight-bold text-monospace" href="/letra">TCC</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link font-weight-bold text-monospace" href="/informacoes">Meus Dados <span
                            class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link font-weight-bold text-monospace" href="/letras">Minhas Músicas <span
                            class="sr-only">(current)</span></a>
                </li>
                


            </ul>

            <ul>
                <li class="nav-item active">
                
                 <a role="button" href="{% url 'logout' %}" id="botao" class="text-center ml-3 mt-3 mb-3 p-2 text-danger
            border-light font-weight-bold text-monospace align-left ">Sair<span
                            class="sr-only">(current)</span></a>

                </li>
       
            </ul>
        </div>

            
    </nav>
    <h2 class="text-center" id="txtRegistro"> D͟e͟l͟e͟t͟a͟r͟ ͟L͟e͟t͟r͟a͟</h2>

    <div class="container" id="container">

        <div class="container-fluid flex border border-dark
        shadow-lg p-3 rounded text-danger
        p-2 mt-3 p-3 text-center ">


            <div class="row">
                <div class="col-p-2 mt-5 mb-3 mx-auto p-2 bg-dark" >

                    {% block content %}

                    <form action="" method="POST">

                        <div class="form-group">

                <p> Ao clicar em excluir você removerá <b> permanentemente </b> a letra <b>***{{ letra.nomeM }}***</b>
                deseja continuar?
                
                </p>
                            {% csrf_token %}

                            {{form.as_p}}
                        </div>

                        <input type="submit" class="btn btn-danger" value="EXCLUIR">

                </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}

    </div>
</body>

</html>