<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Analise de Emoções</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    </div>

    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">TCC</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="registro">Meus Dados <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="registro">Minhas Músicas <span class="sr-only">(current)</span></a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="container-fluid flex border border-dark p-2 mt-5 mb-3 mx-auto p-2 text-center">
        <form action="registro.html" , method="post">

            {% csrf_token %}
            <div class="form-group">
                <label for="textarea">Digite sua Letra</label>
                <textarea class="form-control " id="textarea" required minlength="10" rows="5" m></textarea>
            </div>
            <button type="submit" class="btn btn-dark mx-auto">Registrar</button>

    </div>
    </form>


    <!--
    <div>
        <button onclick="darkMode()">Darkmode</button>
        <button onclick="lightMode()">LightMode</button>
    </div>
    !-->

</body>

</html>