<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Analise de Emoções</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    <script defer src="../main.py"></script>

</head>

<body img background="../static/img/fundo.jpg">

    <nav class="navbar navbar-expand-sm navbar navbar-dark bg-transparent
        shadow-lg p-3 mb-5 border border-dark rounde ">

        <a class="navbar-brand font-weight-bold text-monospace" href="/letra">TCC</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link font-weight-bold text-monospace" href="/registro">Meus Dados <span
                            class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link font-weight-bold text-monospace" href="/letra">Minhas Músicas <span
                            class="sr-only">(current)</span></a>
                </li>

            </ul>
        </div>


    </nav>
    <div class="container-fluid flex border border-dark
    shadow-lg p-3 mb-5 bg-white rounded
    p-2 mt-5 mb-3 mx-auto p-2 text-center bg-transparent">

        {% block content %}

        <form action="/registro/" , method="post">


            <div class="form-group">
                <label for="textarea" class=" p-2 mt-5 mb-3 mx-auto p-2
                    font-weight-bold text-monospace text-center text-white">Digite sua Letra</label>

                {% csrf_token %}
                {{form.as_p}}
                <div>
                    <button type="submit" class="btn btn-dark text-center ml-3 mt-3 mb-3 block p-2
                        border-light font-weight-bold text-monospace">Enviar</button>
                </div>


            </div>


    </div>
    </form>
    {% endblock %}


</body>

</html>