<!DOCTYPE html>
<html lang="pt-br">

    {% load static %}
<head>
    <title>Analise de Emoções</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/style.css">


</head>

<body background="/static/img/fundo.jpg">


    <nav class="navbar navbar-expand-sm navbar navbar-dark bg-transparent
        shadow-lg p-3 mb-4 border border-dark rounde ">

        <a class="navbar-brand font-weight-bold text-monospace" href="/letra">TCC</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link font-weight-bold text-monospace" href="/informacoes">Meus Dados <span
                            class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link font-weight-bold text-monospace" href="/letras">Minhas Músicas <span
                            class="sr-only">(current)</span></a>
                </li>
                


            </ul>

            <ul>
                <li class="nav-item active">
                
                 <a role="button" href="{% url 'logout' %}" id="botao" class="text-center ml-3 mt-3 mb-3 p-2 text-danger
            border-light font-weight-bold text-monospace align-left ">Sair<span
                            class="sr-only">(current)</span></a>

                </li>
       
            </ul>
        </div>

            
    </nav>

    <h2 class="text-center" id="txtLetras">S͟u͟a͟s͟ ͟L͟e͟t͟r͟a͟s͟ </h2>

    <div class="container" id="container">


        <div class="container-fluid flex border border-dark
        shadow-lg p-3 rounded text-danger
        p-2 mt-3 p-3 text-center ">

     {% for letra in object_list %}
            <div class="list-group">

            <div class="table-responsive">
            <table class="table table-dark table-striped">
       
            <tr>
                <th> Letra </th>
                <th> Opções </th>
            </tr>

            <tr>
                <td {{letra}}> <a class="list-group-item list-group-item-action bg-dark text-white" href="{% url 'letra' letra.pk %}">{{letra.nomeM}} </a></td>
                
                    <td>
                        <a href="{% url 'editar-letra' letra.pk %}" class="btn btn-warning btn-sm" title="Editar">E </a>
                         <a href="{% url 'excluir-letra' letra.pk %}" class="btn btn-danger btn-sm" title="Excluir">X </a>
                    </td> 
           </tr>
                </table>

            </div>
            {% endfor %}

        </div>

        <div>
            <a role="button" href="/letra/" id="botao" class="btn btn-dark text-center ml-3 mt-3 mb-3 p-2
        border-light font-weight-bold text-monospace align-middle ">Voltar</a>
        </div>
</body>

</html>