.dig {
    text-align: center;
    font-family: 'Arial ', sans-serif;
    font-size: 20px;
    color: #df0303;
    font-weight: bold;
}

.letra {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Arial ', sans-serif;
    font-size: 15px;
    color: black;
    font-weight: bold;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.botao {
    display: block;
    margin: 25px auto auto;
}

body {
    color: white;
    font-size: 25px;
    background-image: url('Fundo.jpg');
    background-repeat: repeat;
    background-position-x: center;

}

/* .dark-mode {
    background-color: #323232;
    color: white;

}

.light-mode {
    background-color: white;
    color: #323232;
} */

.corpo {
    padding: 0;
    margin: 0;
}

.appbar {
    width: 100%;
    display: flex;
    position: fixed;
    background-color: transparent(#323232, 0.5);
    z-index: 99;
}

.app {
    color: #fff;
    margin: auto 20px auto 40px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    font-size: 18px;
}

.opcoes {
    color: white;
    display: flex;
    list-style: none;
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
}

.dados {
    color: white;
    float: left;
    list-style: none;
    font-weight: bold;
    margin-left: 18px;
    margin-left: 20px;
}
