.dig {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #df0303;
    font-weight: bold;
}

.letra {
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(10vh - 30px);
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.botao {
    display: block;
    margin: 25px auto auto;
}

.fundoRegistro {
    color: white;
    font-size: 16px;
    background-repeat: initial;
    background-position-x: center;
}

.fundoIn {
    color: white;
    background-position-x: center;
}

#borda {
    padding-top: 28px
}

#containerRegistro {
    padding-top: 58px;
    padding-bottom: 58px
}

#nomeM {
    font-size: 17px;
    font-weight: bold;
    color: white;
    font-weight: bold;
}

#txtRegistro {
    padding-top: 4%;
    font-size: 45px;
    color: transparent;
    font-weight: bold;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #CC0000;
}

#txtLetras {
    padding-bottom: 5px;
    font-size: 35px;
    color: transparent;
    font-weight: bold;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #CC0000;
}


.corpo {
    padding: 0;
    margin: 0;
}

.appbar {
    width: 100%;
    display: flex;
    position: fixed;
    background-color: transparent(#323232, 0.5);
    z-index: 99;
}

.app {
    color: #fff;
    margin: auto 20px auto 40px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    font-size: 18px;
}

.opcoes {
    color: white;
    display: flex;
    list-style: none;
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
}

.dados {
    color: white;
    float: left;
    list-style: none;
    font-weight: bold;
    margin-left: 18px;
    margin-left: 20px;
}