#fundoLogin {
    color: white;
    background-position-x: center;
}

#txtLogin {
    padding-top: 4%;
    padding-bottom: 2%;
    font-size: 45px;
    color: transparent;
    font-weight: bold;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #CC0000;
}

#fundoRegistro {
    color: white;
    background-position-x: center;
}

#txtRegistro {
    padding-top: 4%;
    font-size: 45px;
    color: transparent;
    color: transparent;
    font-weight: bold;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #CC0000;
}


#txtLetras {
    padding-bottom: 5px;
    font-size: 35px;
    color: transparent;
    font-weight: bold;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #CC0000;
}


#nomeM {
    font-size: 17px;
    font-weight: bold;
    color: white;
    font-weight: bold;
}

#container {
    padding-top: 58px;
    padding-bottom: 58px;

}
