#borda {
    padding-top: 28px
}

#containerRegistro {
    padding-top: 58px;
    padding-bottom: 58px
}

#nomeM {
    font-size: 17px;
    font-weight: bold;
    color: white;
    font-weight: bold;
}

#txtRegistro {
    padding-top: 4%;
    font-size: 45px;
    color: transparent;
    font-weight: bold;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #CC0000;
}

#txtLetras {
    padding-bottom: 5px;
    font-size: 35px;
    color: transparent;
    font-weight: bold;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #CC0000;
}